{% extends 'base.html' %}

{% block head %}
    <style>
        .welcome {
            pointer-events: none;
        }
        body.clinic_version .desc {
            border: 1px solid #ccc;
        }
        body.clinic_version .desc:after,
        body.clinic_version .desc:before {
            content: none;
        }
        @media (max-width:1000px) {
            body.clinic_version .desc {
                margin-bottom: 25px;
            }
            .invis {
                display: none;
            }
        }
    </style>
{% endblock %}

{% block content %}

    <div id="home" class="parallax first-section wow fadeIn" data-stellar-background-ratio="0.4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="text-contant">
                        <h2>
                            <a href="" class="typewrite" data-period="2000"
                               data-type='[ "Welcome to PAAV {{ user.username|title }}", "Product Authentication And Verification", "Let us verify for you" ]'>
                                <span class="wrap"></span>
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end section -->
    <div id="time-table" class="time-table-section">
        <div class="container">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="service-time middle rounded-circle" style="background:#0071d1;">
                        <h3>Verify</h3>
                        <form method="post" action="{% url 'results' %}">
                            {% csrf_token %}
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1em">
                                <div class="row">
                                    <div class="form-group">
                                        <input type="text" id="batch" placeholder="Batch number" name="batch_number"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="center">
                                            <button type="submit"
                                                    class="btn btn-light btn-radius btn-brd grd1 effect-1">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
        </div>
    </div>
    <div id="about" class="section wow fadeIn">
        <div class="container">
            <div class="heading">
                <h2>About Us</h2>
            </div>
            <!-- end title -->
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">
                        <h4>What We Do</h4>
                        <h2>Verify products</h2>
                        <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim,
                            non
                            aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
                        <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus
                            bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis
                            dis
                            parturient montes, nascetur ridiculus mus. </p>
                        <a href="#services" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Learn
                            More</a>
                    </div>
                    <!-- end messagebox -->
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="post-media wow fadeIn">
                        {% load static %}
                        <img src="{% static 'lifecare/images/about_03.jpg' %}" alt="" class="img-responsive">
                    </div>
                    <!-- end media -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
            <hr class="hr1">
        </div>
        <!-- end container -->
    </div>
    <div id="service" class="services wow fadeIn">
        <div class="container">
            <div class="heading heading-white">
                <h2 style="color: white;">Our Other Services</h2>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="inner-services">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="serv">
                           <span class="icon-service">
                              <a href="http://www.clinicmanager.co.in/">
                                  {% load static %}
                                 <img src="{% static 'lifecare/images/clinic-manager.jpg' %}" alt="#"
                                      class="img-rounded"/> </a></span>

                                <h4>PREMIUM FACILITIES</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="serv">
                           <span class="icon-service">
                              <a href="http://www.digihealthcalculator.com/">
                                   {% load static %}
                                 <img src="{% static 'lifecare/images/calculator.jpg' %}" alt="#"
                                      class="img-rounded"/> </a></span>

                                <h4>LARGE LABORATORY</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="serv">
                           <span class="icon-service">
                              <a href="http://www.digihealthlocker.com/">
                                   {% load static %}
                                 <img src="{% static 'lifecare/images/digihealth-locker.jpg' %}" alt="#"
                                      class="img-rounded"/> </a></span>

                                <h4>DETAILED SPECIALIST</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="serv">
                           <span class="icon-service">
                              <a href="http://www.digihealthlocker.com/">
                                   {% load static %}
                                 <img src="{% static 'lifecare/images/vaxins.jpg' %}" alt="#" class="img-rounded"/>
                                </a>
                               </span>
                                <h4>CHILDREN CARE CENTER</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="serv">
                           <span class="icon-service">
                              <a href="http://www.erx.co.in/">
                                  {% load static %}
                                  <img src="{% static 'lifecare/images/erx.jpg' %}" alt="#" class="img-rounded"/>
                                </a>
                               </span>
                                <h4>FINE INFRASTRUCTURE</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="serv">
                           <span class="icon-service">
                              <a href="http://www.erhc.in/">
                                   {% load static %}
                                  <img src="{% static 'lifecare/images/easyreach.jpg' %}" alt="#" class="img-rounded"/></a>
                           </span>
                                <h4>ANYTIME BLOOD BANK</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->

    <!-- doctor -->

    <div id="doctors" class="parallax section db" data-stellar-background-ratio="0.4" style="background:#fff;"
         data-scroll-id="doctors" tabindex="-1">
        <div class="container">

            <div class="heading">
                <h2>Our Team</h2>
            </div>

            <div class="row dev-list text-center">
                <div class="col-md-2 col-xs-0"></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s"
                     data-wow-delay="0.2s"
                     style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">
                    <div class="widget clearfix">
                        {% load static %}
                        <img src="{% static 'lifecare/images/doctor_01.jpg' %}" alt=""
                             class="img-responsive img-rounded">
                        <div class="widget-title">
                            <h3>Soren Bo Bostian</h3>
                            <small>Clinic Owner</small>
                        </div>
                        <!-- end title -->
                        <p>Hello guys, I am Soren from Sirbistana. I am senior art director and founder of Violetta.</p>

                        <div class="footer-social">
                            <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                            <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s"
                     data-wow-delay="0.4s"
                     style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeIn;">
                    <div class="widget clearfix">
                        {% load static %}
                        <img src="{% static 'lifecare/images/doctor_02.jpg' %}" alt=""
                             class="img-responsive img-rounded">
                        <div class="widget-title">
                            <h3>Bryan Saftler</h3>
                            <small>Internal Diseases</small>
                        </div>
                        <!-- end title -->
                        <p>Hello guys, I am Soren from Sirbistana. I am senior art director and founder of Violetta.</p>

                        <div class="footer-social">
                            <a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
                            <a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div><!--widget -->
                </div><!-- end col -->
                <div class="col-md-2 col-xs-0"></div>

            </div><!-- end row -->
        </div><!-- end container -->
    </div>
    <!-- end doctor section -->

    <div id="testimonials" class="section wb wow fadeIn" style="padding-top: 45px;">
        <div class="container">
            <div class="heading">
                <h2>FAQs</h2>
            </div>
            <!-- end title -->
            <div class="row">
                <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> What is purpose of PAAV? &nbsp&nbsp&nbsp<i class="fa fa-quote-right"></i></h3>
                            <p class="lead">The purpose is to allow the user to verify the authenticity of a product as per their three level of packaging namely Primary, Secondary and Tertiary given by the guidelines of Govt. of India.</p>
                        </div>
                    </div>
                    <!-- end testimonial -->
                </div>
                <!-- end col -->
                <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> How does it work? &nbsp&nbsp&nbsp<i class="fa fa-quote-right"></i></h3>
                            <p class="lead">User wishing to authenticate and verify the medicine batch should enter the batch number in the search bar and submit the request. The system will verify from the database and confirm the authentication of the batch of the medicine that you are looking for.</p>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
            <hr class="invis">
            <div class="row">
                <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Is the data in the website genuine? &nbsp&nbsp&nbsp<i class="fa fa-quote-right"></i></h3>
                            <p class="lead">Disclaimer - 'The data found / not found in our database does not mean that the batch is not a genuine'.</p>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->
                </div>
                <!-- end col -->

                <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Can a customer verfy his drug with mobile or laptop? &nbsp&nbsp&nbsp<i class="fa fa-quote-right"></i></h3>
                            <p class="lead">Yes, provided the data upto primary level has been uploaded by the manufacturer on the Central portal</p>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end section -->
    <div id="getintouch" class="section wb wow fadeIn" style="padding-bottom:0;">
        <div class="container">
            <div class="heading">
                <h2>Get in Touch</h2>
            </div>
        </div>
        <div class="contact-section">
            <div class="form-contant">
                <form id="ajax-contact" action="assets/mailer.php" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group in_name">
                                <input type="text" class="form-control" placeholder="Name" required="required">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group in_email">
                                <input type="email" class="form-control" placeholder="E-mail" required="required">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group in_email">
                                <input type="tel" class="form-control" id="phone" placeholder="Phone"
                                       required="required">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group in_email">
                                <input type="text" class="form-control" id="subject" placeholder="Subject"
                                       required="required">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group in_message">
                            <textarea class="form-control" id="message" rows="5" placeholder="Message"
                                      required="required"></textarea>
                            </div>
                            <div class="actions">
                                <input type="submit" value="Send Message" name="submit" id="submitButton"
                                       class="btn small"
                                       title="Submit Your Message!">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="googleMap" style="width:100%;height:450px;"></div>
        </div>
    </div>
    <footer id="footer" class="footer-area wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo padding">
                        {% load static %}
                        <a href=""><img src="{% static 'lifecare/images/logo.png' %}" alt=""></a>
                        <p>Locavore pork belly scen ester pine est chill wave microdosing pop uple itarian cliche
                            artisan.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-info padding">
                        <h3>CONTACT US</h3>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> A-202, East Wing, 2nd Floor, B. N.
                            Agarwal
                            Shaymkamal Co-op. Housing Soceity Ltd, Vile Parle (E), Mumbai - 400057</p>
                        <p><i class="fa fa-paper-plane" aria-hidden="true"></i> info@gmail.com</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> 08433513351</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="subcriber-info">
                        <h3>SUBSCRIBE</h3>
                        <p>Get healthy news, tip and solutions to your problems from our experts.</p>
                        <div class="subcriber-box">
                            <form id="mc-form" class="mc-form">
                                <div class="newsletter-form">
                                    <input type="email" autocomplete="off" id="mc-email" placeholder="Email address"
                                           class="form-control" name="EMAIL">
                                    <button class="mc-submit" type="submit"><i class="fa fa-paper-plane"></i></button>
                                    <div class="clearfix"></div>
                                    <!-- mailchimp-alerts Start -->
                                    <div class="mailchimp-alerts">
                                        <div class="mailchimp-submitting"></div>
                                        <!-- mailchimp-submitting end -->
                                        <div class="mailchimp-success"></div>
                                        <!-- mailchimp-success end -->
                                        <div class="mailchimp-error"></div>
                                        <!-- mailchimp-error end -->
                                    </div>
                                    <!-- mailchimp-alerts end -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright-area wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="footer-text">
                        <p>© 2018. Distributed by <a id="tw" href="https://themewagon.com/"
                                                     target="_blank">ThemeWagon</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="social">
                        <ul class="social-links">
                            <li><a href=""><i class="fa fa-rss"></i></a></li>
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                            <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end copyrights -->
    <!-- map -->
    <script>
        function myMap() {
            var uluru = {lat: 19.100179, lng: 72.844815};

            var map = new google.maps.Map(
                document.getElementById('googleMap'), {zoom: 15, center: uluru});

            var marker = new google.maps.Marker({position: uluru, map: map});
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNUPWkb4Cjd7Wxo-T4uoUldFjoiUA1fJc&callback=myMap"></script>


{% endblock %}