{% extends 'base.html' %}

{% block head %}
   <style>
      #excel-container {
         width: 25%;
         position: fixed;
         padding-bottom: 5px;
      }
      #excel-container.highlight {
         background: -webkit-linear-gradient(left, #1d86df 0%, #39b49a 100%);
         background: linear-gradient(to right, #1d86df 0%, #39b49a 100%)
      }
      .excel-file {
         padding: 10px;
         border: 2px dashed white;
         border-radius: 5px;
      }
      input[type=file] {
          margin: auto;
          width: 235px;
      }
      .pane {
         padding: 20px;
      }
      #prog {
         display: none;
      }
      h1 {
         color: white;
      }
      img {
         width: 100%;
         margin-bottom: 10px;
      }
      .upload {
         padding: 10px 30px;
         margin-top: 5px;
         margin-bottom: 10px;
      }
      .upload:hover {
         color: white;
         background: -webkit-linear-gradient(left, #1d86df 0%, #39b49a 100%);
         background: linear-gradient(to right, #1d86df 0%, #39b49a 100%);
      }
      .cool-btn {
         width: 100%;
         padding: 6px 12px;
         overflow: hidden;
         margin-bottom: 10px;
      }
      #main-container {
         margin-top: 155px;
         padding: 0;
      }
      .fa-file-excel-o {
         display: block;
         margin-bottom: 5px;
      }
      @media (max-width: 767px) {
         #main-container {
             margin-top: 85px !important;
         }
      }
      @media (max-width:1000px) {
         #excel-container {
            position: inherit;
            width: 100%;
            margin-left: 0;
         }
         .pane {
            margin-left: 0;
            margin-right: 0;
         }
         .col-xs-12 {
            padding: 0;
         }
      }
   </style>
{% endblock %}

{% block content %}
      <div class="container" id="main-container">
{#          <form action="{% url 'upload-excel'%}" method="POST" enctype="multipart/form-data">#}
{#              {% csrf_token %} {{form}}#}
{#              <input type="submit" value="Upload" />#}
{#          </form>#}
         <div class="col-xs-12 col-md-4 col-lg-5">
            <div class="pane" id="excel-container">
                <form action="{% url 'upload-excel'%}" class="text-center" method="POST" enctype="multipart/form-data" >
{#                    <input type="submit" value="Upload" />#}
                    {% csrf_token %}
                    <div class="btn cool-btn btn-light text-center" type="submit">{{form}}</div>
                    <br>
                    {% csrf_token %}
                    <button class="btn btn-light upload">Submit</button>

                </form>
{#               <form class="excel-file text-center" id="prim_form" method="post" enctype="multipart/form-data">#}
{#                  <h1 style="margin-top: 10px; padding-bottom: 0px;">DRAG AND DROP TO UPLOAD</h1>#}
{#                  <hr class="hr">#}
{#                  <label class="btn btn-light upload">#}
{#                     <input type="file" id="file-btn" style="display: none;" multiple="multiple" accept= application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel >#}
{#                     Choose file#}
{#                  </label>#}
{#                  <div id="prog">#}
{#                     <hr class="hr">#}
{#                     <div id="gallery"></div>#}
{#                     <hr class="hr">#}
{#                      {% csrf_token %}#}
{#                        {% csrf_token %}#}
{#                      <button class="btn btn-light upload">Submit</button>#}
{#                  </div>#}
{#               </form>#}
            </div>
         </div>

         <div class="col-xs-12 col-md-8 col-lg-7">
            <div class="pane">
               <h1>Step 1</h1>
                {% load static %}
               <img src="{% static 'lifecare/images/Step1.jpg' %}">
               <h3>Make an excel file which has the given headings. Do not interchange the column of headings. The headings can be spelled the way you are comfortable with.</h3>
            </div>

            <div class="pane">
               <h1>Step 2</h1>
                {% load static %}
               <img src="{% static 'lifecare/images/Step2.jpg' %}">
               <h3>Add the necessary data. Drag and drop or click choose button to add file. Then click submit.</h3>
            </div>

            <div class="pane">
               <h1>Step 3</h1>
                {% load static %}
               <img src="{% static 'lifecare/images/Step3.jpg' %}">
               <h3>Drag and drop or click choose file button to add files.</h3>
            </div>

            <div class="pane">
               <h1>Step 4</h1>
                {% load static %}
               <img src="{% static 'lifecare/images/Step4.jpg' %}">
               <h3>And finally, click submit.</h3>
            </div>
         </div>

      </div>

      <script>
         let dropArea = document.getElementById('excel-container');
         let filesDone = 0;
         let formData = new FormData()
         let fileBtn = document.getElementById('file-btn');
         ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
           dropArea.addEventListener(eventName, preventDefaults, false);
         })
         function preventDefaults (e) {
           e.preventDefault();
           e.stopPropagation();
         }
         ;['dragenter', 'dragover'].forEach(eventName => {
           dropArea.addEventListener(eventName, highlight, false);
         })
         ;['dragleave', 'drop'].forEach(eventName => {
           dropArea.addEventListener(eventName, unhighlight, false);
         })
         function highlight(e) {
           dropArea.classList.add('highlight');
         }
         function unhighlight(e) {
           dropArea.classList.remove('highlight');
         }
         dropArea.addEventListener('drop', handleDrop, false);
         fileBtn.addEventListener('change', function() {
            handleFiles(fileBtn.files);
         })
         function handleDrop(e) {
           let dt = e.dataTransfer;
           let tfiles = dt.files;
           let pext = ['xls', 'xlsx'];
           let files = [];
           for (let i = 0; i < tfiles.length; i++) {
             ext = tfiles[i].name.split('.').pop();
             pext.forEach(function(pxt) {
               if(pxt == ext) files.push(tfiles[i]);
             })
           };
           if(files.length > 0)
            handleFiles(files);
         }
         function handleFiles(files) {
           files = [...files];
           for (let i = 0; i < files.length; i++) {
               let flag = true;
               for (let j = 0; j < filesDone; j++) {
                  if(formData.get('file' + j).name == files[i].name) {
                     flag = false;
                     break;
                  }
              }
              if(flag) {
                  document.getElementById("prog").style.display = 'block';
                  uploadFile(files[i]);
                  previewFile(files[i]);
               }
           }
         }
         function uploadFile(file) {
           formData.append('file' + filesDone, file);
           filesDone++;
         }
         function send_post() {
             var request = new XMLHttpRequest();
             request.open("POST", "");
             request.send(formData);
         }
         function previewFile(file) {
            child = '<i class="fa fa-file-excel-o" style="font-size:28px; color: #39b49a">' + file.name + '</i>';
            document.getElementById('gallery').innerHTML += child;
         }
      </script>
{% endblock %}